<div class="bg"></div>
<div class="m-4 p-4" style="background-color: #f3969a; color: white;">
  <h1 class="text-white">Welcome to Munchies Food Delivery®.</h1>
  <hr color="white">
  <p class="text-white col-md-8">Our online food delivery website is called Munchies. The meaning of Munchies is a sudden strong desire for food. Hence it is suitable for our business that delivers food for hungry customers. We choose this name because it is a very simple word that can be easily remembered by our clients and in the marketplace. </p>
</div>